// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cWrap{
    width: 33.3%;
}
.divider{
    width: 33.3%;
}
.card-title{
	text-decoration-color: white;
    color: white;
}
#navCreate{
	width: 15;
	font-size: 6px;
}
.g-recaptcha{
    padding-right:1200px;
}
.spacer{
    height:125px;
}